*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.app{
    background-color: black;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

